<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的问题</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/comumit.css">
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="navlgation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;<span th:text="${title}"></span></h2>
            <hr>
            <div class="media" th:each="prod : ${question.pageData}">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-circle" th:src="${prod.avatar_url}" alt="用户头像">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${prod.title}"></h4>
                    <span class="text-desc"><span th:text="${prod.comment_count}"></span>个回复 • <span
                            th:text="${prod.view_count}"></span> 次浏览 • <span
                            th:text="${#dates.format(prod.gmt_create, 'yyyy-MM-dd')}"></span></span>
                </div>
            </div>
            <nav aria-label="Page navigation" th:utext="${question.page}"></nav>
    </div>
        <div class="col-lg-3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>我的信息</h3>
        </div>
    </div>
</div>
</body>
</html>