<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/comumit.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/menu.js"></script>

</head>
<body>
<div th:insert="navlgation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;<span th:text="${title}"></span>
            </h2>
            <hr>
            <div class="img-content">
                <img class="img-circle" th:src="${session.user.avatar_url}">
                <br>
                <br>
                <span th:text="${session.user.name}"></span>
                <br>
                <b>个人描述：</b><span th:text="${session.user.bio}"></span>
            </div>

        </div>
        <div class="col-lg-3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>What Do You Do</h3>
            <div class="list-group">
                <a id="questions" href="/profile/questions" class="list-group-item">
                    我的问题
                </a>
                <a id="myInfo" href="/profile/myInfo" class="list-group-item">个人信息</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>